ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px dashed;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 24px;
  font-size: 16px;
  line-height: 150%;
  color: #bf7506;
}
.nav-item .active {
  font-weight: bold;
}
.header {
  display: flex;
  gap: 36px;
}
.header-photo {
  max-width: 300px;
}
.header-image {
  width: 100%;
  border-radius: 50%;
}
.header-text {
  flex-grow: 1;
  max-width: 550px;
}
.header-hello {
  font-size: 48px;
  font-weight: bold;
}
.header-about {
  font-size: 24px;
  line-height: 150%;
}
.header-about span {
  color: #bf7506;
  display: block;
}
.header-footer {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.social-list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 0;
}
.social-item {
  background-color: #bf7506;
  color: #fff;
  padding: 16px;
  border-radius: 50%;
  line-height: 14px;
}
.header-btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 15px;
  border-bottom: 3px solid #bf7506;
}
.section-title {
  font-size: 48px;
  color: #bf7506;
  text-transform: uppercase;
}
.work-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-item img {
  max-width: 300px;
  height: 450px;
  overflow: hidden;
}
