ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px dashed;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 24px;
  font-size: 16px;
  line-height: 150%;
  color: #bf7506;
}
.nav-item .active {
  font-weight: bold;
}
