@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1, h2, ul, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

/* Технические классы */
.pr5 {
  padding-right: 5px;
}

.pr8 {
  padding-right: 8px;
}

.bordered {
  border: 1px dashed;
}

/* ------------------ */

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 24px;
  font-size: 16px;
  line-height: 150%;
  color: #bf7506;
}

.nav-item .active {
  font-weight: bold;
}

.section {
  margin: 3rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.header-photo {
  max-width: 300px;
}

.header-image {
  width: 100%;
  border-radius: 50%;
}

.header-text {
  flex-grow: 1;
  max-width: 550px;
}

.header-hello {
  font-size: 48px;
  font-weight: bold;
}

.header-about {
  font-size: 24px;
  line-height: 150%;
}

.header-about span {
  color: #bf7506;
  display: block;
}

.header-footer {
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
}

.social-list {
  display: flex;
  /* flex: 1; */
  /* justify-content: space-between; */
  gap: 10px;
}

.social-item {
  /* background-color: #bf7506; */
  color: #bf7506;
  /* padding: 16px; */
  /* border-radius: 50%; */
  /* line-height: 14px; */
  font-size: 36px;
}

.header-btn {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0 15px;
  border-bottom: 3px solid #bf7506;
}

.section-title {
  font-size: 36px;
  color: #bf7506;
  margin: 4rem 0;
}

.work-list {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 48%;
  max-height: 600px;
  border: 1px solid #bf750683;
}

.item-img {
  width: 100%;
  /* height: 250px; */
  overflow: hidden;
}

.work-item img {
  width: 100%;
}

.item-info {
  padding: 2rem 1rem;
}

.item-title {
  color: #bf7506;
}

.tag-list {
  display: flex;
  gap: 1rem;
}

.tag-item {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #bf750683;
  border-radius: 5px;
}

.item-text {
  font-size: 14px;
}

.item-list {
  display: flex;
  gap: 15px;
}

.item-link {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 3px solid #bf7506;
}



.feedback-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.feedback-form {
  flex-grow: 1;
}

.feedback-image {
  min-width: 30%;
  background: url(../images/bg-img.jpg) no-repeat center;
  background-size: contain;
}

.input {
  display: block;
  width: 100%;
  margin: 0.5rem 0 0.8rem 0;
  border: 1px;
  border-style: solid;
  border-color: #bf750683;
}

.input-label {
  display: block;
  /* line-height: 16px; */
}

.feedback-submit {
  padding: 0.5rem 1rem;
  border-style: none;
  background-color: #fff;
  cursor: pointer;
}

.feedback-submit:hover {
  border-style: solid;
  border-color: #bf750683;
}